<% if flash[:notice] %>
 <p><%= flash[:notice] %></p>
<% end %>

 <table>
    <tbody>
      <tr>
        <td><h4>title:</h4></td>
        <td><%= @book.title %></td>
      </tr>
      <tr>
        <td><h4>body:</h4></td>
        <td><%= @book.body %></td>
      </tr>
      <tr>
        <td class="a"><%= link_to "Edit",edit_book_path %></td>
        <td class="b"><%= link_to "Back",books_path %></td>
      </tr>
    </tbody>
  </table>